.App {
  text-align: center;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.box {
  z-index: 9999;
  /* background: black; */
  display: flex;
  justify-content: end;
}

.tabs {
  width: 40%;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  padding: 0.5rem 0 0 0;
}

@media (max-width: 1400px) {

  /* Adjust the breakpoint as needed */
  .tabs {
    width: 40%;
  }
}

@media (max-width: 1000px) {

  /* Adjust the breakpoint as needed */
  .tabs {
    padding: 1rem;
    width: 100%;
  }
}

@media (min-width: 2300px) {

  /* Adjust the breakpoint as needed */
  .tabs {
    width: 34%;
    /* background: black; */
  }
}

.tabs a {
  padding: 0.5rem 1rem 0.5rem 0;
  margin: 0 0.5rem 0 0;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}
.tabs a:hover {
  color: #269b88;
}

.tabs a.active {
  color: black;
  /* Change to your preferred active color */
  font-weight: bold;
  font-size: 1rem;
  /* Optional: make the active link bold */
  border-bottom: 2px solid #269b88;
  /* Optional: add a bottom border */
}

/* .knncsi {
  background: #269b88 !important;
} */

/* .jRsPj {
  background: #269b88 !important;
  min-width: 200px !important;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}